<div class="form-container">

  <div class="navigation-buttons">
    <%= link_to 'About', root_path, class: 'btn btn-primary'%>
    <%= link_to 'Treatments', treatments_path, class: 'btn btn-primary' %>
    <%= link_to 'Book Now', bookings_path, class: 'btn btn-success' %>
    <%= link_to 'Admin', rails_admin_path, class: 'btn btn-secondary' %>
  </div>

  <div class="form-box">
    <h1>Booking for 'your company here'</h1>
    <p>Intro paragraph describing the business.</p>

    <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>

    <%= form_with model: Booking.new, url: bookings_path, local: true do |f| %>
      <h3>Please fill in your details</h3>
      <div>
        <%= f.label :customer_name, "Name" %><br>
        <%= f.text_field :customer_name, required: true %>
      </div>

      <div>
        <%= f.label :customer_email, "Email" %><br>
        <%= f.email_field :customer_email, required: true %>
      </div>

      <div>
        <%= f.label :customer_phone_number, "Phone Number" %><br>
        <%= f.text_field :customer_phone_number, required: true %>
      </div>

      <h3>Booking Details</h3>
      <div>
        <%= f.label :date, "Date" %><br>
        <%= f.date_field :date, id: "booking_date", required: true %>
      </div>

      <div>
        <%= f.label :time, "Time" %><br>
        <%= f.time_field :time, required: true %>
      </div>

      <div>
        <h3><%= f.label :treatment_ids, "Treatments" %></h3>
        <p>Select one or more treatments to make your booking</p>
        <%= f.collection_check_boxes :treatment_ids, Treatment.all, :id, :name do |treatment| %>
          <div>
          <%= treatment.check_box %>
          <%= treatment.label %>
          </div>
      <% end %>
      </div>

      <div>
      <br>
        <%= f.submit "Book Now" %>
      </div>
    <% end %>
  </div>
</div>