<div id="<%= dom_id calendar %>">
  <p>
    <strong>Booking:</strong>
    <%= calendar.booking_id %>
  </p>

  <p>
    <strong>Google calendar event:</strong>
    <%= calendar.google_calendar_event_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= calendar.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= calendar.end_time %>
  </p>

</div>
